version: "2.2"

services:
  mysql:
    image: mysql:8.0
    ports:
    - 3306:${MYSQL_PORT}
    env_file:
    - .env.mysql
    volumes:
    - "./conf.d:/etc/mysql/conf.d:ro"
    - "/mnt/petclinic/mysql:/var/lib/mysql"
  base:
    build:
      context: .
      dockerfile: Dockerfile
    image: ${BASE_IMAGE}:${BASE_IMAGE_TAG:-latest}
  was:
    image: ${WAS_IMAGE}:${WAS_IMAGE_TAG:-latest}
    ports:
    - 8080:8080
    user: "1000:1000"
    env_file:
    - .env
    - .env.mysql
    restart: always
    volumes:
    - "/logs:/var/log/petclinic"
