---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: petclinic
  namespace: default
spec:
  storageClassName: ""
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 8Gi