---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: petclinic
spec:
  storageClassName: ""
  capacity:
    storage: 8Gi
  accessModes:
  - ReadWriteOnce
  hostPath:
    path: /mnt/petclinic/mysql