{%- if IMAGE != "rayshoo/petclinic" %}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: petclinic-base-builder
  namespace: default
data:
  Dockerfile: |-
    FROM khipu/openjdk17-alpine
    RUN addgroup --system --gid 1000 spring && \
    adduser --system --uid 1000 --ingroup spring --disabled-password spring && \
    mkdir /var/log/petclinic && \
    chown -R spring:spring /var/log/petclinic
    USER spring
    WORKDIR /var/log/petclinic
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: petclinic-builder
  namespace: default
data:
  Dockerfile: |-
    FROM khipu/openjdk17-alpine
    COPY builder.sh .
    RUN apk add git && chmod +x ./builder.sh
    ENTRYPOINT ["./builder.sh"]
  build.sh: |-
    #! /bin/sh
    git clone https://github.com/rayshoo/spring-petclinic-data-jdbc.git petclinic
    cd petclinic/was/
    chmod +x ./gradlew
    ./gradlew jib
{%- endif -%}