---
apiVersion: batch/v1
kind: Job
metadata:
  name: base-image-builder
  namespace: default
spec:
  activeDeadlineSeconds: 300
  ttlSecondsAfterFinished: 172800
  template:
    spec:
      containers:
      - name: kaniko
        image: gcr.io/kaniko-project/executor:v1.6.0
        args:
        - --dockerfile=/workspace/Dockerfile
        - --context=dir://workspace
        - --destination={{ BASE_IMAGE }}:{{ BASE_IMAGE_TAG }}
        volumeMounts:
        - name: dockerfile
          mountPath: /workspace
        - name: kaniko-secret
          mountPath: /kaniko/.docker
      restartPolicy: Never
      volumes:
      - name: dockerfile
        configMap:
          name: petclinic-base-dockerfile
      - name: kaniko-secret
        secret:
          secretName: {{ BASE_IMAGE_PUSH_SECRET }}
          items:
          - key: .dockerconfigjson
            path: config.json