---
apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: petclinic-mysql
  namespace: default
data:
  MYSQL_DATABASE: {{ MYSQL_DATABASE }}
  MYSQL_ROOT_PASSWORD: {{MYSQL_ROOT_PASSWORD }}
---
apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: petclinic
  namespace: default
data:
  IMAGE: {{ IMAGE }}
  IMAGE_TAG: {{ IMAGE_TAG }}
  WAS_PORT: {{ WAS_PORT }}
  MYSQL_URL: {{ MYSQL_URL }}
  MYSQL_PORT: {{ MYSQL_PORT }}
  MYSQL_USER: {{ MYSQL_USER }}
  MYSQL_PASS: {{ MYSQL_PASS }}