---
apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: petclinic-mysql
  namespace: default
data:
  MYSQL_DATABASE: {{ MYSQL_DATABASE }}
  MYSQL_ROOT_PASSWORD: {{MYSQL_ROOT_PASSWORD }}
---
apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: petclinic
  namespace: default
data:
  BASE_IMAGE: {{ BASE_IMAGE }}
  BASE_IMAGE_TAG: {{ BASE_IMAGE_TAG }}
  WAS_IMAGE: {{ WAS_IMAGE }}
  WAS_IMAGE_TAG: {{ WAS_IMAGE_TAG }}
  MYSQL_URL: {{ MYSQL_URL }}
  MYSQL_PORT: {{ MYSQL_PORT }}
  MYSQL_USER: {{ MYSQL_USER }}
  MYSQL_PASS: {{ MYSQL_PASS }}