---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: petclinic-mysql
  name: petclinic-{{ MYSQL_URL }}
  namespace: default
spec:
  type: ClusterIP
  clusterIP: None
  ports:
  - port: {{ MYSQL_PORT }}
    protocol: TCP
    targetPort: {{ MYSQL_PORT }}
  selector:
    app: petclinic-mysql
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: petclinic
  name: petclinic
  namespace: default
spec:
  ports:
  - port: 80
    protocol: TCP
    targetPort: {{ WAS_PORT }}
  selector:
    app: petclinic